body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: "Manrope", sans-serif;
}

.credentials {
  background-color: var(--tg-theme-secondary-bg-color);
  padding: 15px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.firstName {
  font-size: 16px;
  font-weight: 700;
}

.username {
  font-size: 14px;
  color: var(--tg-theme-link-color);
}
