/* body {
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
}

button {
  background-color: var(--tg-theme-button-color);
  width: 100px;
  height: 100px;
} */
